{% extends 'base.html' %}
{% load static %}
{% block title %}Atualizar Produto{% endblock %}
{% block content %}
    <div>
        <h1>
            <i class="bi bi-apple"> </i>
            Atualizar Produto
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Atualizar</button>
            <a class="btn btn-warning" href="{% url 'listar_produtos' %}">Voltar</a>
        </form>
    </div>
{% endblock %}
