{% extends 'base.html' %}
{% block title %}Detalhes do Pedido{% endblock %}
{% block content %}
{% load static %}
<div>
    <h3>Pedido de {{ pedido.cliente.nome }} em {{ pedido.data_pedido }} Status : {{pedido.status}}</h3>
    <ul>
        {% for item_pedido in pedido.itempedido_set.all %}
            <li>
                Produto: {{ item_pedido.produto.nome }} - Quantidade: {{ item_pedido.quantidade }} - Preço: {{ item_pedido.preco }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'concluir_pedido' pedido.id %}" class="btn btn-success">Concluir Pedido</a>
    <p>
        <strong>Total do Pedido: R$ {{ pedido.total_pedido }}</strong>
    </p>
    <a href="{% url 'adicionar_item_pedido' pedido.id %}" class="btn btn-primary">Adicionar Item</a>
    <a href="{% url 'deletar_pedido' pedido.id %}" class="btn btn-danger">Deletar Pedido</a>
</div>
{% endblock %}
