{% extends 'base.html' %}
{% load static %}
{% block title %}Listagem de Clientes{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <h1 class=""> <i class="bi bi-person-arms-up"></i> Lista de Clientes </h1>
        <ul class="h5 list-group list-group-flush w-75 d-flex flex-column justify-content-center align-items-center">
            {% for cliente in clientes %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list">
                    <!-- {{ cliente.nome }} - {{ cliente.empresa }} - {{ cliente.telefone }} -->
                    <div class="d-flex flex-column">
                        <span class="fs-4 text-primary"><b>Nome: </b> {{ cliente.nome }}</span>
                        <span class="text-secondary"><b>Empresa: </b> {{ cliente.empresa }}</span>
                        <span class="text-secondary"><b>Telefone: </b> {{ cliente.telefone }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center btns h3">
                        <a href="{% url 'atualizar_cliente' cliente.pk %}"><i class="bi bi-pencil-square text-success"></i></a>
                        <a href="{% url 'deletar_cliente' cliente.pk %}"><i class="bi bi-trash3-fill text-danger ico"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary btn-lg btn-block"
           href="{% url 'criar_cliente' %}">Novo Cliente</a>
    </div>
{% endblock %}
