{% extends 'base.html' %}
{% load static %}
{% block title %}Listagem de Pedidos{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center pedidos">
        <!-- <h1>Listagem de Pedidos</h1> -->
        <h5 class="text-center text-lg fs-3 mb-4">
            Total Pedidos:
            <span class="text-primary">{{ pedidos|length }}</span>
        </h5>
        <form method="GET"
              class="d-flex flex-row justify-content-center align-items-center form w-75 fs-3">
            <label for="status">Filtrar por status:</label>
            <select name="status"
                    id="status"
                    class="form-control selectpicker w-25 text-center text-lg fs-4">
                <option value="">Todos</option>
                <option value="Concluído">Concluído</option>
                <option value="Pendente">Pendente</option>
            </select>
            <button class="btn btn-primary btn-lg ms-3 " type="submit">Filtrar</button>
        </form>
        <hr>
        <h2>Pedidos</h2>
        A entrega é calculada a partir da data de criação do pedido + o tempo de entrega do produto mais demorado dentro do pedido.
        <br>  <br>
        <ul class="h5 list-group list-group-flush w-75 d-flex flex-column justify-content-center align-items-center">
            {% for pedido in pedidos %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list"
                   href="{% url 'detalhes_item_pedido' pedido.id %}">
                    <!-- <h5 class=""> -->
                    <!-- Pedido {{ pedido.pk }} - {{ pedido.cliente.nome }} - {{ pedido.data_pedido }} -->
                    <div class="d-flex flex-column">
                        <span class="fs-4 text-primary">Pedido {{ pedido.pk }}</span>
                        <span class="text-secondary"><b>Empresa:</b> {{ pedido.cliente.empresa }}</span>
                        <span class="text-secondary"><b>Nome cliente:</b>  {{ pedido.cliente.nome }}</span>
                        <span class="text-secondary"><b>Criado:</b>  {{ pedido.data_pedido|date:"d/m/Y" }}</span>
                        <span class="text-secondary"><b>Entrega:</b>  {{ pedido.data_entrega|date:"d/m/Y" }}</span>
                    </div>
                    {% if pedido.status == 'Concluído' %}
                        <i class="bi bi-check-circle text-success fs-1"></i>
                    {% else %}
                        <i class="bi bi-hourglass-split text-primary fs-1"></i>
                    {% endif %}
                {% endfor %}
            </a>
        </ul>
    </div>
{% endblock %}
