{% extends 'base.html' %}
{% block title %}Listagem de Produtos{% endblock %}
{% block content %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <h1><i class="bi bi-apple text-success"> </i>Lista de Produtos</h1>
        <form method="GET" action="{% url 'listar_produtos' %}" class="tex d-flex flex-column justify-content-center">
            <input class="form-control" type="text" name="q" placeholder="Pesquisar por nome do produto" />
            <button type="submit" class="btn btn-success mb-3 mt-2">Pesquisar</button>
        </form>
        
        <!-- Exibir o total de produtos -->
    
        <h5 class="text-center text-lg fs-3">
            Total de Produtos: <span class="text-success">{{ total_produtos }}</span>
        </h5>
        <a href="{% url 'criar_produto' %}" class="btn btn-lg btn-success mb-4">Criar Produto</a>
        <ul class=" h5 list-group list-group-flush w-75 d-flex flex-column justify-content-center align-items-center">
            {% for produto in produtos %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list">
                    <div class="d-flex flex-column">
                        <span class="fs-4 text-success">{{ produto.nome }}</span>
                        <span class="text-secondary"><b>Tempo de Entrega:</b> {{ produto.tempo_preparo }} dias</span>
                        <!-- Mostrar o total deste produto -->
                        <span class="text-secondary"><b>Total Vendido:</b> {{ produto.total_produto }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center btns h3">
                        <a href="{% url 'atualizar_produto' produto.pk %}"><i class="bi bi-pencil-square text-success"></i></a>
                        <a href="{% url 'deletar_produto' produto.pk %}"><i class="bi bi-trash3-fill text-danger ico"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination justify-content-center mt-4">
        <ul class="pagination">
            {% if produtos.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Primeira</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ produtos.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
    
            <li class="page-item disabled">
                <span class="page-link">
                    Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}.
                </span>
            </li>
    
            {% if produtos.has_next %}
                <li class="page-item">
                    <a class="page-link text-success" href="?page={{ produtos.next_page_number }}">Próxima</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-success" href="?page={{ produtos.paginator.num_pages }}">Última &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
