<!DOCTYPE html>
<html>
<head>
    <title>Listagem de Produtos</title>
</head>
<body>
<a href="{% url 'listar_clientes' %}">Clientes</a>
<a href="{% url 'listar_produtos' %}">Produtos</a>
<a href="{% url 'listar_pedidos' %}">Pedidos</a>
    <h1>Listagem de Produtos</h1>
    <ul>
    {% for produto in produtos %}
        <li>
            {{ produto.nome }} - Tempo de Preparo: {{ produto.tempo_preparo }} dias
            <a href="{% url 'atualizar_produto' produto.pk %}">Atualizar</a>
            <a href="{% url 'deletar_produto' produto.pk %}">Deletar</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'criar_produto' %}">Novo Produto</a>
</body>
</html>
